:root {
  --lh: 1.2;

  --breakpoint-mobile-min: 320px;
  --breakpoint-mobile-max: 575px;

  --breakpoint-smalltablet-min: 576px;
  --breakpoint-smalltablet-max: 767px;

  --breakpoint-largetablet-min: 768px;
  --breakpoint-largetablet-max: 1024px;

  --breakpoint-smallscreen-min: 1025px;
  --breakpoint-smallscreen-max: 1399px;

  --breakpoint-largescreen-min: 1400px;
  --breakpoint-largescreen-max: 2559px;

  --breakpoint-2k-min: 2560px;
  --breakpoint-2k-max: 3839px;

  --breakpoint-4k-min: 3840px;
}

@font-face {
  font-family: 'Fugue';
  src: url('./fonts/fugue.otf');
  padding: 0;
}

body {
  min-height: 100vh;
  color: #000000;
  background: #ffffff;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Fugue;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* h1 {

} */

h2{
  font-size: 40px;
  margin-top: 120px;
  line-height: var(--lh);
  font-weight: 500;
  text-align: center;
}

@media (max-width: 575px) {
  h2 {
    font-size: 20px;
    margin-top: 60px;
  }
}

button {
  stroke: none;
  box-shadow: none;
  border: none;
  background: none;

  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: #00ff00;
  cursor: pointer;
  text-align: center;

  padding: 0;
}

button:hover {
  color: #000000;
}
